.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  height: 100vh;
  background: #000000;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 20px;
  gap: 30px;

  width: 503px;
  height: 100vh;
}

.textarea {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

  height: 100vh;
  flex-grow: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #ffffff;

  background: #1a1a1a;
}

.heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  letter-spacing: -0.25px;

  /* White */

  color: #ffffff;
}

.selectionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  height: 390px;
}
.selectionbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 6px;
}

.selectionheading {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #bdbdbd;
}
.inputbox {
  width: 431px;
  height: 72px;
  resize: none;
  /* Grey-10 */

  background: #1a1a1a;
  /* Grey-10 */

  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #dfbc68;
  padding: 10px;
  box-sizing: border-box;
}
.pointer {
  cursor: pointer;
}
.selectedBox {
  border: 1px solid #dfbc68;
}

.selectedText {
  color: #ffffff;
}

.button {
  padding: 24px 16px;

  width: 423px;
  height: 64px;

  /* Brand-2 */
  text-align: center;
  background: #dfbc68;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  letter-spacing: 1px;
  text-transform: uppercase;

  /* Black */

  color: #000000;
}

.environmenttext {
  color: #dfbc68;
  text-transform: uppercase;
  display: inline;
  margin-left: 4px;
}

.doneColor {
  color: green;
  display: inline;
  font-weight: bold;
  margin-left: 4px;
}

.materialsdata {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;

  width: 461.5px;
  height: 416px;

  /* Grey-20 */

  background: #404040;
  border-radius: 6px;
}
